# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.*

# Base de datos SQLite
db.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/